body {
	background-image:url('../img/bg.jpg');
	background-repeat: no-repeat;
}
hr
{
    background-color: black;
    height: 2px;
}

#container{
	margin-top:3%;
}

#home-menu{
	margin-top: 20%;
}

#title{
	text-align: center;
	margin: 2% 0%;
}

.navbar-inner{
	background-image: linear-gradient(to bottom,bisque,beige);
}

.gmnoprint img {
    max-width: none; 
}

#thumbnail{
	text-align: center;
}

#go-btn{
	margin-left: 54%;
}

.label {
	margin: 0 auto;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;
	text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.label.near {
	margin: 15px 0 15px 0;
    background-color: #D1487E;
}

.accordion-inner {
	overflow-y: scroll;
	position: relative;
	height: 300px;
	max-height:200px; 
	background-color: beige;
}

.label.normal {
    background-color: #E55072;
}
.label.far {
    background-color: #C891FE;
}

.label.A {
    background-color: #04d40e;
}

.label.B{
    background-color: #d40404;
}

#googft-mapCanvas {
	position: absolute;
	margin: 0 auto;
	opacity:0.7;
	border:3px #2ba3ff solid;
	border-radius:5px;
	filter:alpha(opacity=70);
}

#googft-mapCanvas:hover{
	opacity:1.0;
	filter:alpha(opacity=100);
}

#detail-googft-mapCanvas {
	opacity:0.7;
	border:3px #2ba3ff solid;
	border-radius:5px;
	filter:alpha(opacity=70);	
}

#detail-googft-mapCanvas:hover{
	opacity:1.0;
	filter:alpha(opacity=100);
}

.radio-select{
	margin-right:20px;
}

.radio-select-all{
	margin-right:300px;
}

#origin {
	text-decoration: none;
	color: black;
}

#destination {
	text-decoration: none;
	color: black;
}