#container{
	margin-top: 3%;
}

#home-menu{
	margin-top: 20%;
}

#title{
	text-align: center;
	margin: 2% 0%;
}

.gmnoprint img {
    max-width: none; 
}

#thumbnail{
	text-align: center;
}

#go-btn{
	margin-left: 54%;
}

.label {
	margin: 20px auto;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
	text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.label.near {
	margin: 15px 0 15px 0;
    background-color: #c43c35;
}
.label.normal {
    background-color: #f89406;
}
.label.far {
    background-color: #46a546;
}

input[type=checkbox] {
	visibility: hidden;
}

